<footer class="container" style="margin-top: 100px;">
    <p class="text-center"> Copyright ©2018 Movie 404
        <br>Design by
        <a href="http://blog.qinfeng.io" target=_new> qinfeng </a>
    </p>
</footer>
